@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using QLTV.Localization
@using QLTV.ThuVien
@inject IHtmlLocalizer<QLTVResource> L
@model QLTV.Web.Pages.ThuVien.Borrow.CreateModalModel
@{
    Layout = null;
}

<abp-dynamic-form abp-model="ViewModel" data-ajaxForm="true" asp-page="CreateModal">
    <div class="modal fade show" tabindex="-1" role="dialog" aria-modal="true" style="padding-right: 17px; display: block;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <abp-modal-header title="@L["Create"].Value @L["TitleBorrow"].Value"></abp-modal-header>
                <abp-modal-body>
                    <abp-form-content />
                </abp-modal-body>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@L["Quit"].Value</button>
                    <button id="create_save" type="submit" class="btn btn-primary" data-busy-text="@L["Saving"].Value"> <span>@L["Save"].Value</span></button>
                </div>
            </div>
        </div>
    </div>
</abp-dynamic-form>
<script>
    //Check tránh trường hợp nhập khoảng trắng
    $("input").on('change', function () {
        $(this).val($(this).val().trim());
    });
    //if (document.querySelector('#ViewModel_DateBorrow').value == '') {
    //    document.querySelector('#ViewModel_DateBorrow').value = "0001-01-01"
    //}
    //if (document.querySelector('#ViewModel_DateReturn').value == '') {
    //    document.querySelector('#ViewModel_DateReturn').value = "0001-01-01"
    //} 
    var dateBorrow = document.querySelector('#ViewModel_DateBorrow');
    var dateReturn = document.querySelector('#ViewModel_DateReturn');
    
    function CheckValidate() {
        var dateBorrow = document.querySelector('#ViewModel_DateBorrow');
        var dateReturn = document.querySelector('#ViewModel_DateReturn');

        if (dateBorrow == null || dateReturn == null) {
            return
        }

        var d1 = new Date(dateBorrow.value);
        var d2 = new Date(dateReturn.value);
        if (d1 > d2) {
            var textDangerElements = document.getElementsByClassName('text-danger');
            for (var i of textDangerElements) {
                if (i.getAttribute('data-valmsg-for') === 'ViewModel.DateReturn') {
                    i.innerHTML = `<span id = "ViewModel_DateReturn-error" class> @L["Date return must be after date borrow"] </span>`;
                }
                if (i.getAttribute('data-valmsg-for') === 'ViewModel.DateBorrow') {
                    i.innerHTML = `<span id = "ViewModel_DateBorrow-error" class> @L["Date borrow must be before date return"] </span>`;
                }
            }
            document.getElementById('create_save').setAttribute("disabled", "true");
        }
        else {
            if (document.getElementById('ViewModel_DateReturn-error')) {
                document.getElementById('ViewModel_DateReturn-error').remove();
            }
            if (document.getElementById('ViewModel_DateBorrow-error')) {
                document.getElementById('ViewModel_DateBorrow-error').remove();
            }
            document.getElementById('create_save').removeAttribute("disabled");
        }
    }

    document.getElementById('ViewModel_DateReturn').addEventListener('change', CheckValidate);
    document.getElementById('ViewModel_DateReturn').addEventListener('blur', CheckValidate);
    document.getElementById('ViewModel_DateBorrow').addEventListener('change', CheckValidate);
    document.getElementById('ViewModel_DateBorrow').addEventListener('blur', CheckValidate);
</script>