@page
@using QLTV.Web.Pages.ThuVien.Book
@using QLTV.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using QLTV.Permissions
@inject IHtmlLocalizer<QLTVResource> L
@inject IPageLayout PageLayout
@inject IAuthorizationService Authorization

@model QLTV.Web.Pages.ThuVien.Book.IndexModel
@section scripts
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <abp-script src="/Pages/ThuVien/Book/Index.js" />

}
@section styles {
    <abp-style src="/Pages/ThuVien/Book/index.css" />
}

<section class="content mt-2 p-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-search">

                    <!-- /.box-header -->
                    <div class="card-body introduce">
                        <div class="form-group search-form-group">
                            <label class="text-white" for="search">@L["Search_Key_Book"].Value</label>

                            <div class="input-group search-input-group">
                                <input type="text" id="keyword" class="form-control search-form-control"
                                       placeholder="@L["Search_Book"].Value">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-default" id="Search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="text-danger field-validation-valid" data-valmsg-for="search" data-valmsg-replace="true">
                            </span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="filter text-white d-flex align-items-center justify-content-around">
                    <h4 class="filter-title pr-4 d-flex align-items-center">
                        <i class="fas fa-filter pr-2"></i> @L["Filter_Category"].Value
                    </h4>

                    <select class="filter-body custom-select rounded-1" id="selectCategory" asp-items="Model.CategoryList">
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="list-group text-white d-flex flex-row justify-content-between align-items-center">
                    <h4 class="filter-price-title pl-4 m-0">@L["Price"]</h4>

                    <div class="filter-price-body d-flex flex-column">
                        <input type="hidden" id="hidden_minimum_price" value="0" />
                        <input type="hidden" id="hidden_maximum_price" value="500000" />
                        <span class="pb-2" align="right" id="price_show">
                            0 K &ensp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 500 K
                        </span>
                        <div id="price_range"></div>
                    </div>
                </div>
            </div>

            <div class="text-right col-md-5">
                @if (await Authorization.IsGrantedAsync(QLTVPermissions.Book.Create))
                {
                    <button id="NewBook" class="btn btn-add-general btn-create"
                            type="button" data-busy-text="Processing...">
                        <i class="fa fa-plus pr-1"></i> <span>@L["Create"].Value</span>
                    </button>
                }
            </div>
        </div>
    </div>
</section>

<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="table-responsive col-sm-12">
                                    <table id="BooksTable" class="text-white table table-bordered table-hover dataTable dtr-inline" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th class="BookT-Stt" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending">@L["STT"].Value</th>
                                                <th class="BookT-BookName" aria-controls="example2" rowspan="1" colspan="1">@L["BookName"].Value</th>
                                                <th class="BookT-PublishDate" aria-controls="example2" rowspan="1" colspan="1">@L["PublishDate"].Value</th>
                                                <th class="BookT-Price" aria-controls="example2" rowspan="1" colspan="1">@L["Price"].Value</th>
                                                <th class="BookT-Number" aria-controls="example2" rowspan="1" colspan="1">@L["Number"].Value</th>
                                                <th class="BookT-Category" aria-controls="example2" rowspan="1" colspan="1">@L["Category"].Value</th>
                                                <th class="BookT-Author" aria-controls="example2" rowspan="1" colspan="1">@L["Author"].Value</th>
                                                <th class="BookT-Block" aria-controls="example2" rowspan="1" colspan="1">@L["Block"].Value</th>
                                                <th class="BookT-Delete" aria-controls="example2" rowspan="1" colspan="1"></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>